@model IEnumerable<MC.Website.ViewModels.MovieVM>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <td>Title</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
            </tr>
        }
    </tbody>
</table>